In [12]:
from numpy import*
import pandas as pd
df=pd.read_csv('C:\CreditScoring.csv')
#columnNames = pd.Series(df.columns.values)
df.head(10)

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN
5,1,1700,30548.0,40320.0,HomeImp,Other,9.0,0.0,0.0,101.466002,1.0,8.0,37.113614
6,1,1800,48649.0,57037.0,HomeImp,Other,5.0,3.0,2.0,77.100000,1.0,17.0,NaN
7,1,1800,28502.0,43034.0,HomeImp,Other,11.0,0.0,0.0,88.766030,0.0,8.0,36.884894
8,1,2000,32700.0,46740.0,HomeImp,Other,3.0,0.0,2.0,216.933333,1.0,12.0,NaN
9,1,2000,NaN,62250.0,HomeImp,Sales,16.0,0.0,0.0,115.800000,0.0,13.0,NaN

In [13]:
print("le nombre de données est:",df.shape[0])
print("le nombre de features 'les attributs' est:",df.shape[1])

data_types=df.dtypes
data_types

le nombre de données est: 5960
le nombre de features 'les attributs' est: 13

BAD          int64
LOAN         int64
MORTDUE    float64
VALUE      float64
REASON      object
JOB         object
YOJ        float64
DEROG      float64
DELINQ     float64
CLAGE      float64
NINQ       float64
CLNO       float64
DEBTINC    float64
dtype: object

In [14]:
#df=df.to_numpy()
def Entropie(S):
    S=array(S)# important
    classes_distinctes=set(S[:,-1]) #supprimer les redandances dans la derniere colonne pour determiner 
    classes=list(S[:,-1])
    #print("classes_distinctes:",classes_distinctes)
    #print("classes:",classes)
    
    s=0
    for c in classes_distinctes:
        p=classes.count(c)/len(classes) # calcul du portion
        s+=p*log2(p)
    return(-1.0*s)
print("L'entropie de l'ensemble =",Entropie(df))

L'entropie de l'ensemble = 12.54109661535006

In [15]:
def Gain_d_information(S,numero_colon_attribut):
    classes=list(set(S[:,-1]))
    valeurs_attribut=list(set(S[:,numero_colon_attribut]))
    #print(valeurs_attribut)
    Si= [ []for i in range(len(valeurs_attribut))] #inistialiser la var Si par de deux sous ensemble vides []
    #print('Si 1:',Si)
    for e in S:
        e=list(e)
        #print('e :',e)
        val_attribut_pour_e=e[numero_colon_attribut]
        #print('val atri pour e :',val_attribut_pour_e)
        numero_sous_ensemble=valeurs_attribut.index(val_attribut_pour_e)
        #print('numero_sous_ensemble=',numero_sous_ensemble)
        Si[numero_sous_ensemble].append(e)
    Si=array(Si); som=0
    #print('Si 2:',Si)
    for sous_ensemble in Si:
        som+=(len(sous_ensemble)/len(S))*Entropie(sous_ensemble)
    return(Entropie(S)-som)

In [52]:
print("le gain de l'attribut BAD=",Gain_d_information(df,0)) 
print("le gain de l'attribut LOAN=",Gain_d_information(df,1)) 
print("le gain de l'attribut MORTUDE=",Gain_d_information(df,2)) 
print("le gain de l'attribut VALUE=",Gain_d_information(df,3)) 
print("le gain de l'attribut REASON=",Gain_d_information(df,4)) 
print("le gain de l'attribut JOB=",Gain_d_information(df,5)) 
print("le gain de l'attribut YOJ=",Gain_d_information(df,6)) 
print("le gain de l'attribut DEROG=",Gain_d_information(df,7)) 
print("le gain de l'attribut DELINQ=",Gain_d_information(df,8)) 
print("le gain de l'attribut GLAGE=",Gain_d_information(df,9)) 
print("le gain de l'attribut NINQ=",Gain_d_information(df,10)) 
print("le gain de l'attribut CLNO=",Gain_d_information(df,11)) 
print("le gain de l'attribut DEBTINC=",Gain_d_information(df,12))

C:\Users\T460s\AppData\Local\Temp/ipykernel_13520/4075743298.py:15: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  Si=array(Si); som=0

le gain de l'attribut BAD= 2.7084554045787836
le gain de l'attribut LOAN= 9.027683157387035

C:\Users\T460s\AppData\Local\Temp/ipykernel_13520/3074136260.py:12: RuntimeWarning: divide by zero encountered in log2
  s+=p*log2(p)
C:\Users\T460s\AppData\Local\Temp/ipykernel_13520/3074136260.py:12: RuntimeWarning: invalid value encountered in double_scalars
  s+=p*log2(p)

le gain de l'attribut MORTUDE= nan
le gain de l'attribut VALUE= nan
le gain de l'attribut REASON= 3.0579134594399893
le gain de l'attribut JOB= 3.9930705567867264
le gain de l'attribut YOJ= nan
le gain de l'attribut DEROG= nan
le gain de l'attribut DELINQ= nan
le gain de l'attribut GLAGE= nan
le gain de l'attribut NINQ= nan
le gain de l'attribut CLNO= nan
le gain de l'attribut DEBTINC= 12.54109661535006

In [34]:

df.dropna(axis=0, how='any', inplace=True)
df.head(10)
df.shape

(3364, 13)

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X=df.drop(columns=["BAD","JOB","REASON"])
y=df["BAD"]
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=.33,random_state=1)

In [37]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x_train,y_train)
y_predict=model.predict(x_test)
acc=accuracy_score(y_test,y_predict)
print("accuracy score :",acc)

accuracy score : 0.9225922592259226

In [40]:
#from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
#import pydotplus

In [ ]:
dot_data=StringIO()
export_graphviz()